test*
IMS1_*
data_*
ASCII/
*.so
*.c
*.pickle
*.zip
*.jpg
*.p
.ipynb_checkpoints/
Untitled.ipynb
asd.pyx
build/
convolve1.pyx
fuzzy_c.py
fuzzy_c_spatial_spectral.pyc
hello.pyx
homebrew.pth
parallel.py
policy.txt
readme.txt
worker.py